nav{
    background-color: #0C0E0D;
    height: 90px;
    width: 100%;
}
nav .container {
    width: 100%;
    display: flex;
    border-bottom: 1px solid white;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    display: flex;
}
.header_h2{
    color: white;
    font-size: 50px;
    font-weight: 300;
    position: absolute;
    top: 19%;
    right: 32%;
}
.logo_img{
    width: 200px;
}
.left_part{
    display: flex;
    justify-content: space-between;
}

.first_img{
    width: 350px;
    position: absolute;
    top: 8%;
    left: 20%;
    z-index: 2;
}
.second_img{
    width: 380px;
    position: absolute;
    top: 38%;
    z-index: 2;
    right: 25%;
}
html, body{
    margin: 0;
    background-color: #0C0E0D;
}
header{
    height: 820px;
    border-bottom: 1px solid white;
}
.M{
    position: absolute;
    top: 14%;
    left: 16%;
    z-index: 1;
    font-size: 100px;
    color: white;
    font-weight: 400;
}
.OLIS{
    position: absolute;
    top: 28%;
    left: 38%;
    z-index: 1;
    font-size: 100px;
    color: white;
    font-weight: 400;
}
.EM{
    position: absolute;
    top: 43%;
    left: 14%;
    z-index: 1;
    font-size: 100px;
    color: white;
    font-weight: 400;
}
.STU{
    position: absolute;
    top: 49%;
    right: 44%;
    z-index: 1;
    font-size: 100px;
    color: white;
    font-weight: 400;
}
.DIO{
    font-weight: 400;
    position: absolute;
    top: 70%;
    right: 17%;
    z-index: 1;
    font-size: 100px;
    color: white;
}

.header_studio{
    z-index: 1;
    position: relative;
}
.header_text{
    transform: translate(270px,660px);
    color: white;
    font-size: 24px;
}
.section1{
    height: 800px;
    border-bottom: 1px solid white;
}
.section1_background_img{
    top: 80px;
    width: 420px;
    height: 580px;
    overflow: hidden;
    position: relative;
    left: 240px;
}
.section1_shadow{
    background-color: white;
    width: 340px;
    height: 400px;
    z-index: 1;
    overflow: hidden;

}
.section1_red_border1{
    border: 3px solid red;
    width: 340px;
    height: 330px;
    position: absolute;
    top: 115%;
    left: 10%;
    z-index: 2;
}
.section1_red_border2{
    border: 3px solid red;
    width: 320px;
    height: 410px;
    position: absolute;
    top: 115%;
    left: 18%;
    z-index: 2;
}
.women1{
    width: 330px;
    height: auto;
    position: absolute;
    top: 7%;
    left: 13%;
    z-index: 3;
}
.section1_name{
    position: absolute;
    color: white;
    top: 1140px;
    left: 800px;
    font-size: 34px;
    font-weight: 70;
}
.section1_text{
    color: white;
    position: absolute;
    top: 1220px;
    left: 800px;
    right: 400px;
    font-size: 20px;
}
.section1_button:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid red;
    color: red;
}
.section1_button{
    color: white;
    border: 2px solid white;
    border-radius: 13px;
    background-color: transparent;
    position: absolute;
    left: 800px;
    top: 1470px;
    cursor: pointer;
    width: 300px;
    height: 50px;
    font-size: 20px;
    transition: 0.2s;
}
.section2{
    height: 750px;
    border-bottom: 1px solid white;
}
.section2_bg{
    padding-bottom: 70px;
    padding-top: 80px;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 750px;
}
.section2_background{
    background-color: #4F0B02;
    height: 500px;
    width: 1000px;
    z-index: 2;
    overflow: hidden;
    position: relative;
    top: 17%;
    left: 23%;
}
.section2_name{
    font-size: 50px;
    left: 300px;
    font-weight: 70;
    position: absolute;
    top: 50px;
    z-index: 3;
    color: white;
}
.section2_text{
    font-weight: 100;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    word-spacing: 3px;
    position: absolute;
    top: 140px;
    left: 70px;
    right: 100px;
    z-index: 3; 
}
.section3_block1, .section3_block2, .section3_block3{
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 20%;
    padding-right: 20%;
    align-items: center;
}
.section3{
    height: 120px;
}
.footer_button1, .footer_button2, .footer_button3{
    background-color: transparent;
    border: none;
}
.footer_buttons{
    /* display: flex; */
    /* justify-content: end; */
    /* padding-right: 10%; */
    position: absolute;
    bottom: -177%;
    right: 5%;
}
.footer_p{
    color: white;
    position: absolute;
    bottom: -177%;
    left: 5%;
}